<% inventories.each do |inventory| %>
  <tr>
    <td> <%= inventory.ingredient.name %> </td>
    <td> <%= inventory.quantity %> </td>
    <td><%= link_to 'Edit', edit_admin_inventory_path(inventory), class: 'btn btn-danger btn-site-primary text-uppercase' %></td>
  </tr>
<% end %>
