<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-md-offset-1">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th class="text-center">Price</th>
            <th class="text-center">Total</th>
            <th> </th>
            <th> </th>
          </tr>
        </thead>
        <tbody>
          <%= render "line_items/line_item", line_items: @cart.line_items %>
          <tr>
            <td>  </td>
            <td>   </td>
            <td>   </td>
            <td><h3>Total</h3></td>
            <td class="text-right total_cell"><h3><strong><%= number_to_currency(cart.total_price) %></strong></h3></td>
          </tr>
          <tr>
            <td>   </td>
            <td>   </td>
            <td>   </td>
            <td>
              <%= button_to 'Place Order', @current_user ? new_user_order_path(@current_user.slug) : login_path, method: :get, class: 'btn btn-success' %>
            <td>
              <%= button_to 'empty', cart, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-success'  %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
