/*
 *= require jquery-ui
 *= require bootstrap
 *= require bootstrap.min
 *= require_self
 */
 @import "main";
.traversal-link {
  a:hover {
    color: $primary-color;
    text-decoration: none;
  }
}

.error-explanation {
  li {
    color: red;
    margin-left: 200px;
  }
  h2 {
    margin-left: 190px;
  }
}

/*.checkbox {
  margin: 50px 0 10px 255px;
  span {
    margin-left: 10px;
    font-weight: normal;
  }
}*/

/*.current_user {
  p {
    font-size: 30px;
  }
}*/

.form-horizontal {
  h1 {
    margin: 0 0 50px 500px;
  }
}

.container-page {
  margin: $standard-margin auto;
}
