/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require jquery-ui
 *= require bootstrap
 *= require bootstrap.min
 *= require_self
 */

.banner {
  margin: 50px 0 0 190px;
}

.top_bar {
  margin: 200px 0 100px 500px;
}

.error-explanation {
  li {
    color: red;
    margin-left: 200px;
  }
  h2 {
    margin-left: 190px;
  }
}

.checkbox {
  margin: 50px 0 10px 255px;
  span {
    margin-left: 10px;
    font-weight: normal;
  }
}

.current_user {
  p {
    color: red;
    margin-left: 350px;
    font-size: 30px;
  }
}

.form-horizontal {
  h1 {
    margin: 0 0 50px 500px;
  }
}

.container-page {
  padding: 0 15px;
  margin: 100px auto 0 auto;
}
